body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #0d47a1, #1e88e5);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 4%;
    text-align: center;
}

.container2-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.container2 {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    flex: 1 1 22%;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-weight: 700;
}

.contact-info {
    text-align: left;
}

.contact-info p {
    margin: 10px 0;
    font-weight: 400;
}

.contact-info strong {
    font-weight: 700;
}

h3{
	font-size: 20px;
}

a{
	text-decoration: none;
	color:white;
}

@media (max-width: 1200px) {
    .container2 {
        flex: 1 1 30%;
    }

@media (max-width: 768px) {
    .container2 {
        flex: 1 1 45%;
    }
}

@media (max-width: 480px) {
    .container2 {
        flex: 1 1 100%;
}
}
